1\. rozglądam sie po systemie, sprawdzam użytkowników, bazy

In [139]:
use master;
select [name] from master.sys.databases;

select [name] from master.sys.sql_logins;

name
master
tempdb
model
msdb
DB_OKNO

name
sa
##MS_PolicyEventProcessingLogin##
##MS_PolicyTsqlExecutionLogin##
stud

GRANTOR,GRANTEE,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,PRIVILEGE_TYPE,IS_GRANTABLE
dbo,public,master,dbo,spt_fallback_db,SELECT,NO
dbo,public,master,dbo,spt_fallback_dev,SELECT,NO
dbo,public,master,dbo,spt_fallback_usg,SELECT,NO
dbo,public,master,dbo,spt_values,SELECT,NO
dbo,public,master,dbo,spt_monitor,SELECT,NO

2\. zakładam bazę

In [152]:
IF EXISTS (SELECT [name] FROM master.sys.sysdatabases WHERE name = 'DB_OKNO')
    BEGIN
    PRINT 'baza DB_OKNO istnieje';    
    DROP DATABASE DB_OKNO;
    PRINT 'baza usunieta';
    END

CREATE DATABASE DB_OKNO 
    ON PRIMARY (
        name=okno,
        filename='/var/opt/mssql/data/okno.mdf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    )
    LOG ON (
        name=okno_log,
        filename='/var/opt/mssql/data/okno.ldf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    )
    COLLATE POLISH_100_CI_AS_SC_UTF8
    GO

zakładam role i uzytkownikow

In [177]:
use master;
go

EXEC sp_addlogin 'stud', 'zamknij1okno!' , DB_OKNO , 'Polski'
go

use DB_OKNO;
go

EXEC sp_adduser 'stud' , 'stud'
go

EXEC sp_addrole 'student'
GO

EXEC sp_addrolemember 'student','stud'
go
 
GRANT ALTER ON SCHEMA::dbo.DB_OKNO TO student;

: Msg 15025, Level 16, State 1, Line 3
The server principal 'stud' already exists.

: Msg 15023, Level 16, State 1, Line 9
User, group, or role 'stud' already exists in the current database.

: Msg 15023, Level 16, State 1, Line 12
User, group, or role 'student' already exists in the current database.

: Msg 15151, Level 16, State 1, Line 19
Cannot find the schema 'dbo.DB_OKNO', because it does not exist or you do not have permission.

przypisuję prawa

In [184]:
use DB_OKNO;
go

SETUSER;
GO

GRANT SELECT TO student;
GO

GRANT INSERT TO student;
GO

GRANT DELETE TO stud;
go

GRANT EXECUTE TO stud;
go

GRANT ALTER TO stud;
go 

GRANT CONTROL TO stud;
go 

GRANT UPDATE TO stud;
go

dodaję tabele

In [137]:
use DB_OKNO
GO

CREATE TABLE code (
    ID_osoba BIGINT NOT NULL,
    code_string varchar(32),
    EAN varchar(32),
    active BIT NOT NULL DEFAULT 1 

    PRIMARY KEY ( ID_osoba )
    -- praca INT NOT NULL FOREIGN KEY REFERENCES praca(ID)
)

: Msg 2714, Level 16, State 6, Line 4
There is already an object named 'code' in the database.