1\. rozglądam sie po systemie, sprawdzam użytkowników, bazy

In [1]:
use master;
select [name] from master.sys.databases;
-- select [name] from master.sys.sql_logins;

name
master
tempdb
model
msdb

2\. zakładam bazę

In [3]:
IF EXISTS (SELECT [name] FROM master.sys.sysdatabases WHERE name = 'DB_OKNO')
    BEGIN
    PRINT 'baza DB_OKNO istnieje';    
    DROP DATABASE DB_OKNO;
    PRINT 'baza usunieta';
    END

CREATE DATABASE DB_OKNO 
    ON PRIMARY (
        name=okno,
        filename='/var/opt/mssql/data/okno.mdf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    )
    LOG ON (
        name=okno_log,
        filename='/var/opt/mssql/data/okno.ldf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    )
    COLLATE POLISH_100_CI_AS_SC_UTF8
    GO

dodaję tabele

In [137]:
use DB_OKNO
GO

CREATE TABLE code (
    ID_osoba BIGINT NOT NULL,
    code_string varchar(32),
    EAN varchar(32),
    active BIT NOT NULL DEFAULT 1 

    PRIMARY KEY ( ID_osoba )
    -- praca INT NOT NULL FOREIGN KEY REFERENCES praca(ID)
)

: Msg 2714, Level 16, State 6, Line 4
There is already an object named 'code' in the database.