In [2]:


-- create database
IF EXISTS ( SELECT * FROM SYS.databases WHERE [name]= 'okno' ) 
    BEGIN
     DROP DATABASE okno;
     PRINT  ' DROP DATABASE ';
    END

BEGIN

CREATE DATABASE okno
 ON PRIMARY (
        name=okno,
        filename='/var/opt/mssql/data/okno.mdf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    )
    LOG ON (
        name=okno_log,
        filename='/var/opt/mssql/data/okno.ldf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    );
 PRINT  ' CREATE DATABASE ';   
end

: Msg 3702, Level 16, State 3, Line 6
Cannot drop database "okno" because it is currently in use.

: Msg 1801, Level 16, State 3, Line 12
Database 'okno' already exists. Choose a different database name.

In [85]:

USE okno
-- name
DROP TABLE IF EXISTS [dbo].icon_name
DROP TABLE IF EXISTS [dbo].measure_name
DROP TABLE IF EXISTS [dbo].unit_name
DROP TABLE IF EXISTS [dbo].params_name
DROP TABLE IF EXISTS [dbo].dictionary_name



--dane
DROP TABLE IF EXISTS [dbo].dictionary
DROP TABLE IF EXISTS [dbo].params
DROP TABLE IF EXISTS [dbo].icon
DROP TABLE IF EXISTS [dbo].unit

-- slowniki
DROP TABLE IF EXISTS [dbo].code
DROP TABLE IF EXISTS [dbo].icon_group
DROP TABLE IF EXISTS [dbo].measure
DROP TABLE IF EXISTS [dbo].masters


------------------------------------------

CREATE TABLE dbo.code (
    code_id       bigint       NOT NULL IDENTITY ,
    code_String     varchar(255) NOT NULL,
    PRIMARY KEY( code_id ) 
);
 


CREATE TABLE dbo.icon_group (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
);
 

CREATE TABLE dbo.masters (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
);
 


CREATE TABLE dbo.measure (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
);
 

--------------------------------

CREATE TABLE dbo.unit (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    id_measure BIGINT FOREIGN KEY REFERENCES dbo.measure ( id ), 
    suffix varchar(255) NULL,
    multi DECIMAL(32,16),
    next_id_measure BIGINT NULL,
    separator varchar(255) NULL,
    PRIMARY KEY( id ) 
);
 



CREATE TABLE dbo.icon (
    id       BIGINT       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    id_measure BIGINT FOREIGN KEY REFERENCES dbo.measure ( id ), 
    id_icon_group BIGINT NULL, 

    layout_target BIGINT NULL, 

    is_tech BIT NULL,
    is_promo BIT NULL,

    in_paper BIT NULL,
    in_catalog BIT NULL,
    in_shipping BIT NULL,
    in_rack BIT NULL,    
    in_fish_top BIT NULL,
    in_fish_bottom BIT NULL,
    in_t_znamionowa  BIT NULL,
    in_t_ostrzerzen  BIT NULL,
    in_opak_jedn  BIT NULL,
    in_opak_zbiorcze  BIT NULL,
    in_instrukcja  BIT NULL,

    PRIMARY KEY( id ) 
);
 



CREATE TABLE dbo.params (
    id       bigint       NOT NULL IDENTITY ,
    id_code BIGINT FOREIGN KEY REFERENCES dbo.code ( code_id ), 
    id_icon BIGINT FOREIGN KEY REFERENCES dbo.icon ( id ),     
    id_unit BIGINT FOREIGN KEY REFERENCES dbo.unit ( id ),   
    num_value DECIMAL(32,16),
    priority  BIGINT NULL,
    PRIMARY KEY( id ) 
);
 

CREATE TABLE dbo.dictionary (
    id BIGINT NOT NULL IDENTITY, 
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
);

------------------------------------------

CREATE TABLE dbo.icon_name (
    id_icon BIGINT FOREIGN KEY REFERENCES dbo.icon ( id ), 
    id_lang BIGINT ,     
    layout_name nvarchar(255),
    PRIMARY KEY( id_icon, id_lang ) 
);
 


CREATE TABLE dbo.measure_name (
    id_measure BIGINT FOREIGN KEY REFERENCES dbo.measure ( id ), 
    id_lang BIGINT ,     
    [name] nvarchar(255),
    PRIMARY KEY( id_measure, id_lang ) 
);
 

CREATE TABLE dbo.unit_name (
    id_unit BIGINT FOREIGN KEY REFERENCES dbo.unit ( id ), 
    id_lang BIGINT ,     
    [name] nvarchar(255),
    PRIMARY KEY( id_unit, id_lang ) 
);
 

CREATE TABLE dbo.params_name (
    id_params BIGINT FOREIGN KEY REFERENCES dbo.params ( id ), 
    id_lang BIGINT ,     
    [name] nvarchar(255),
    PRIMARY KEY( id_params, id_lang ) 
);
 

CREATE TABLE dbo.dictionary_name (
    id_dictionary BIGINT FOREIGN KEY REFERENCES dbo.dictionary ( id ), 
    id_lang BIGINT ,     
    lang_name nvarchar(255),
    PRIMARY KEY( id_dictionary, id_lang ) 
);






-- MEASURE
DECLARE @measure_none BIGINT;     INSERT INTO [dbo].measure VALUES ( '[NONE]' ); SET @measure_none = SCOPE_IDENTITY();
DECLARE @measure_textonly BIGINT; INSERT INTO [dbo].measure VALUES ( '[TEXT]' ); SET @measure_textonly = SCOPE_IDENTITY();
DECLARE @measure_dictionary BIGINT; INSERT INTO [dbo].measure VALUES ( '[DICTIONARY]' ); SET @measure_dictionary = SCOPE_IDENTITY();

DECLARE @measure_bool BIGINT; INSERT INTO [dbo].measure VALUES ( 'Boolean logika' ); SET @measure_bool = SCOPE_IDENTITY();

DECLARE @measure_dlugosc BIGINT; INSERT INTO [dbo].measure VALUES ( 'długość' ); SET @measure_dlugosc = SCOPE_IDENTITY();
DECLARE @measure_masa BIGINT; INSERT INTO [dbo].measure VALUES ( 'masa' ); SET @measure_masa = SCOPE_IDENTITY();
DECLARE @measure_czas BIGINT; INSERT INTO [dbo].measure VALUES ( 'czas' ); SET @measure_czas = SCOPE_IDENTITY();
DECLARE @measure_temperatura BIGINT; INSERT INTO [dbo].measure VALUES ( 'temperatura' ); SET @measure_temperatura = SCOPE_IDENTITY();





-- UNIT
DECLARE @UNIT_TEXT BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( '[TEXT]',  @measure_textonly , '' , 1 );  SET @UNIT_TEXT = SCOPE_IDENTITY();

DECLARE @UNIT_DICTIONARY BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( '[DICTIONARY]',  @measure_dictionary , '' , 1 );  SET @UNIT_DICTIONARY = SCOPE_IDENTITY();
 




DECLARE @km BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'kilometr',     @measure_dlugosc , 'km' , 1000 ); SET @km = SCOPE_IDENTITY();
DECLARE @m BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'metr',     @measure_dlugosc , 'm' , 1 ); SET @m = SCOPE_IDENTITY();
DECLARE @dm BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'decymetr',     @measure_dlugosc , 'dm' , 0.1 ); SET @dm = SCOPE_IDENTITY();
DECLARE @cm BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'centymetr',     @measure_dlugosc , 'cm' , 0.01 ); SET @cm = SCOPE_IDENTITY();
DECLARE @mm BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'milimetr', @measure_dlugosc , 'mm' , 0.001 ); SET @mm = SCOPE_IDENTITY();

DECLARE @g BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'gram', @measure_masa , 'g' , 1 ); SET @g = SCOPE_IDENTITY();
DECLARE @kg BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'kilogram', @measure_masa , 'kg' , 1000 ); SET @kg = SCOPE_IDENTITY();

DECLARE @s BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'sekunda', @measure_czas , 's' , 1 ); SET @s = SCOPE_IDENTITY();
DECLARE @min BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'minuta', @measure_czas , 'min' , 60 ); SET @min = SCOPE_IDENTITY();
DECLARE @h BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'godzina', @measure_czas , 'h' , 3600 ); SET @h = SCOPE_IDENTITY();

DECLARE @K BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'Kelwin', @measure_temperatura , '°K' , 1 ); SET @K = SCOPE_IDENTITY();
DECLARE @C BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'Celcjusz', @measure_temperatura , '°C' , 1 ); SET @C = SCOPE_IDENTITY();


DECLARE @tak_nie BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'tak/nie', @measure_bool , '' , 1 ); SET @tak_nie = SCOPE_IDENTITY();

 
-- ICON
DECLARE @ICON_srednica_tarczy BIGINT; INSERT INTO [dbo].icon (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom)  VALUES ( 'srednica tarczy', @measure_dlugosc ,10,1,0); SET @ICON_srednica_tarczy = SCOPE_IDENTITY();
DECLARE @ICON_srednica_otworu BIGINT; INSERT INTO [dbo].icon (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom)  VALUES ( 'srednica otworu', @measure_dlugosc ,10,1,0); SET @ICON_srednica_otworu = SCOPE_IDENTITY();

DECLARE @ICON_chlodzenie_woda BIGINT; INSERT INTO [dbo].icon (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom)  VALUES ( 'chlodzenie woda', @measure_dictionary    ,10,1,0 ); SET @ICON_chlodzenie_woda = SCOPE_IDENTITY();

DECLARE @ICON_rekomendowany_akumulator BIGINT; INSERT INTO [dbo].icon  (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom) VALUES ( 'rekomendowany_akumulator', @measure_textonly ,10,1,0); SET @ICON_rekomendowany_akumulator = SCOPE_IDENTITY();


INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_tarczy,1,'średnica tarczy');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_otworu,1,'średnica otworu');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_chlodzenie_woda,1,'chłodzenie wodą:tak (czy chłodzenie: wodą) ?');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_rekomendowany_akumulator,1,'rekomendowany akumulator');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_tarczy,2,'EN średnica tarczy');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_otworu,2,'EN średnica otworu');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_chlodzenie_woda,2,'EN chłodzenie wodą:tak (czy chłodzenie: wodą) ?');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_rekomendowany_akumulator,2,'EN rekomendowany akumulator');
 


-- code
DECLARE @Code_DED6900 BIGINT; INSERT INTO [dbo].code VALUES ( 'DED6900' ); SET @Code_DED6900 = SCOPE_IDENTITY();


-- dictionary
DECLARE @Dictionary_YES BIGINT; INSERT INTO [dbo].dictionary VALUES ( 'TAK' ); SET @Dictionary_YES = SCOPE_IDENTITY();
DECLARE @Dictionary_NO BIGINT; INSERT INTO [dbo].dictionary VALUES ( 'NO' ); SET @Dictionary_NO = SCOPE_IDENTITY();

DECLARE @Dictionarry_lang_PL_YES BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_YES ,1, 'tak' ); SET @Dictionarry_lang_PL_YES = SCOPE_IDENTITY();
DECLARE @Dictionarry_lang_EN_YES BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_YES ,2, 'yes' ); SET @Dictionarry_lang_EN_YES = SCOPE_IDENTITY();

DECLARE @Dictionarry_lang_PL_NO BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_NO ,1, 'tak' ); SET @Dictionarry_lang_PL_NO = SCOPE_IDENTITY();
DECLARE @Dictionarry_lang_EN_NO BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_NO ,2, 'yes' ); SET @Dictionarry_lang_EN_NO = SCOPE_IDENTITY();


INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value ) VALUES (  @Code_DED6900 , @ICON_chlodzenie_woda , @measure_dictionary , @Dictionary_YES );

INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value) VALUES (  @Code_DED6900 , @ICON_srednica_tarczy , @mm , 110 );
INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value) VALUES (  @Code_DED6900 , @ICON_srednica_otworu , @mm , 22.2 );

DECLARE @Param_Rekomendowany_aku BIGINT
INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value) VALUES (  @Code_DED6900 , @ICON_rekomendowany_akumulator , @UNIT_TEXT , NULL );  SET @Param_Rekomendowany_aku = SCOPE_IDENTITY();

INSERT INTO [dbo].params_name VALUES ( @Param_Rekomendowany_aku , 1 , 'DED7034, DED7035, DED6936, DED6937')
go

In [95]:



SELECT C.code_String , P.num_value AS num_val , PN.name AS PN_name, I.sys_name, I.layout_target, I.id_measure , ' Unit -> ', U.sys_name AS U_name , U.suffix , U.separator AS separator , INa.* , D.sys_name , DN.lang_name
         FROM code AS C 
    FULL JOIN params AS P ON ( C.code_id = P.id_code )
    FULL JOIN params_name AS PN ON ( P.id = PN.id_params AND PN.id_lang = 1 )
    FULL JOIN icon AS I ON ( P.id_icon = I.id )
    FULL JOIN icon_name AS INa ON ( I.id = INa.id_icon AND INa.id_lang = 1 )
    FULL JOIN unit AS U ON ( P.id_unit = U.id )
    FULL JOIN dictionary AS D ON ( D.id = P.num_value)
    FULL JOIN dictionary_name AS DN ON ( DN.id_dictionary = P.num_value AND DN.id_lang = 1 )
    


WHERE code_String='DED6900';

code_String,num_val,PN_name,sys_name,layout_target,id_measure,(No column name),U_name,suffix,separator,id_icon,id_lang,layout_name,sys_name,lang_name
DED6900,1.0000000000000000,NULL,chlodzenie woda,10,3,Unit ->,kilometr,km,NULL,3,1,chlodzenie woda:tak (czy chlodzenie: woda) ?,TAK,tak
DED6900,110.0000000000000000,NULL,srednica tarczy,10,5,Unit ->,milimetr,mm,NULL,1,1,srednica tarczy,NULL,NULL
DED6900,22.2000000000000000,NULL,srednica otworu,10,5,Unit ->,milimetr,mm,NULL,2,1,srednica otworu,NULL,NULL
DED6900,NULL,"DED7034, DED7035, DED6936, DED6937",rekomendowany_akumulator,10,2,Unit ->,[TEXT],,NULL,4,1,rekomendowany akumulator,NULL,NULL