In [2]:


-- create database
IF EXISTS ( SELECT * FROM SYS.databases WHERE [name]= 'okno' ) 
    BEGIN
     DROP DATABASE okno;
     PRINT  ' DROP DATABASE ';
    END

BEGIN

CREATE DATABASE okno
 ON PRIMARY (
        name=okno,
        filename='/var/opt/mssql/data/okno.mdf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    )
    LOG ON (
        name=okno_log,
        filename='/var/opt/mssql/data/okno.ldf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    );
 PRINT  ' CREATE DATABASE ';   
end

In [3]:


USE okno
-- name
DROP TABLE IF EXISTS [dbo].icon_name
DROP TABLE IF EXISTS [dbo].measure_name
DROP TABLE IF EXISTS [dbo].unit_name
DROP TABLE IF EXISTS [dbo].params_name
DROP TABLE IF EXISTS [dbo].dictionary_name
DROP TABLE IF EXISTS [dbo].word_name
DROP TABLE IF EXISTS [dbo].strings_name


--dane
DROP TABLE IF EXISTS [dbo].dictionary
DROP TABLE IF EXISTS [dbo].params
DROP TABLE IF EXISTS [dbo].icon
DROP TABLE IF EXISTS [dbo].unit
DROP TABLE IF EXISTS [dbo].word
DROP TABLE IF EXISTS [dbo].strings

-- slowniki
DROP TABLE IF EXISTS [dbo].code
DROP TABLE IF EXISTS [dbo].icon_group
DROP TABLE IF EXISTS [dbo].measure
DROP TABLE IF EXISTS [dbo].masters
DROP TABLE IF EXISTS [dbo].layout_targets

In [93]:

USE okno
-- name
DROP TABLE IF EXISTS [dbo].icon_name
DROP TABLE IF EXISTS [dbo].measure_name
DROP TABLE IF EXISTS [dbo].unit_name
DROP TABLE IF EXISTS [dbo].params_name
DROP TABLE IF EXISTS [dbo].dictionary_name
DROP TABLE IF EXISTS [dbo].word_name
DROP TABLE IF EXISTS [dbo].strings_name


--dane

DROP TABLE IF EXISTS [dbo].params
DROP TABLE IF EXISTS [dbo].icon
DROP TABLE IF EXISTS [dbo].unit
DROP TABLE IF EXISTS [dbo].word
DROP TABLE IF EXISTS [dbo].strings

-- slowniki
DROP TABLE IF EXISTS [dbo].code
DROP TABLE IF EXISTS [dbo].icon_group
DROP TABLE IF EXISTS [dbo].measure
DROP TABLE IF EXISTS [dbo].masters
DROP TABLE IF EXISTS [dbo].layout_targets
DROP TABLE IF EXISTS [dbo].dictionary

------------------------------------------

CREATE TABLE dbo.code (
    code_id       bigint       NOT NULL IDENTITY ,
    code_String     varchar(255) NOT NULL UNIQUE,
    PRIMARY KEY( code_id ) 
);
 


CREATE TABLE dbo.icon_group (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
);
 

CREATE TABLE dbo.masters (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
);
 


CREATE TABLE dbo.measure (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
);
 
CREATE TABLE dbo.dictionary (
    id BIGINT NOT NULL IDENTITY, 
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
); 

CREATE TABLE dbo.word (
    id            BIGINT NOT NULL IDENTITY,
    id_dictionary BIGINT FOREIGN KEY REFERENCES dbo.dictionary ( id )
    PRIMARY KEY( id ) 
);


CREATE TABLE dbo.layout_targets (
    id BIGINT NOT NULL IDENTITY, 
    sys_name     varchar(255) NOT NULL,
    PRIMARY KEY( id ) 
); 

--------------------------------

CREATE TABLE dbo.unit (
    id       bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    id_measure BIGINT FOREIGN KEY REFERENCES dbo.measure ( id ), 
    suffix varchar(255) NULL,
    multi DECIMAL(32,16),
    next_id_measure BIGINT NULL,
    separator varchar(255) NULL,
    PRIMARY KEY( id ) 
);
 


CREATE TABLE dbo.strings (
    id      bigint       NOT NULL IDENTITY ,
    sys_name     varchar(255)  NULL,
    PRIMARY KEY( id ) 
);



CREATE TABLE dbo.icon (
    id       BIGINT       NOT NULL IDENTITY ,
    sys_name     varchar(255) NOT NULL,
    id_measure    BIGINT FOREIGN KEY REFERENCES dbo.measure ( id )    NULL, 
    id_dictionary BIGINT FOREIGN KEY REFERENCES dbo.dictionary ( id ) NULL, 

    id_icon_group BIGINT NULL, --formal

    layout_target BIGINT NULL, 

    is_tech BIT NULL,
    is_promo BIT NULL,

    in_paper BIT NULL,
    in_catalog BIT NULL,
    in_shipping BIT NULL,
    in_rack BIT NULL,    
    in_fish_top BIT NULL,
    in_fish_bottom BIT NULL,
    in_t_znamionowa  BIT NULL,
    in_t_ostrzerzen  BIT NULL,
    in_opak_jedn  BIT NULL,
    in_opak_zbiorcze  BIT NULL,
    in_instrukcja  BIT NULL,

    PRIMARY KEY( id ) 
);
 


CREATE TABLE dbo.params (
    id       bigint       NOT NULL IDENTITY ,
    id_code BIGINT FOREIGN KEY REFERENCES dbo.code ( code_id ), 

    id_icon BIGINT FOREIGN KEY REFERENCES dbo.icon ( id ),  

    id_unit BIGINT FOREIGN KEY REFERENCES dbo.unit ( id ) NULL,   
    num_value DECIMAL(32,16),

    id_word BIGINT FOREIGN KEY REFERENCES dbo.word ( id ) NULL,   

    id_strings BIGINT FOREIGN KEY REFERENCES dbo.strings ( id ) NULL, 
    priority  BIGINT NULL,
    PRIMARY KEY( id ) 
);


------------------------------------------

CREATE TABLE dbo.icon_name (
    id_icon BIGINT FOREIGN KEY REFERENCES dbo.icon ( id ), 
    id_lang BIGINT ,     
    layout_name nvarchar(255),
    PRIMARY KEY( id_icon, id_lang ) 
);
 

/*
CREATE TABLE dbo.measure_name (
    id_measure BIGINT FOREIGN KEY REFERENCES dbo.measure ( id ), 
    id_lang BIGINT ,     
    [name] nvarchar(255),
    PRIMARY KEY( id_measure, id_lang ) 
);
*/ 

CREATE TABLE dbo.unit_name (
    id_unit BIGINT FOREIGN KEY REFERENCES dbo.unit ( id ), 
    id_lang BIGINT ,     
    [name] nvarchar(255),
    PRIMARY KEY( id_unit, id_lang ) 
);
 
/*
CREATE TABLE dbo.params_name (
    id_params BIGINT FOREIGN KEY REFERENCES dbo.params ( id ), 
    id_lang BIGINT ,     
    [name] nvarchar(255),
    PRIMARY KEY( id_params, id_lang ) 
);
*/

/*
CREATE TABLE dbo.dictionary_name (
    id_dictionary BIGINT FOREIGN KEY REFERENCES dbo.dictionary ( id ), 
    id_lang BIGINT ,     
    lang_name nvarchar(255),
    PRIMARY KEY( id_dictionary, id_lang ) 
);
*/

CREATE TABLE dbo.word_name (
    id_word BIGINT FOREIGN KEY REFERENCES dbo.word ( id ), 
    id_lang BIGINT ,     
    lang_name nvarchar(255),
    PRIMARY KEY( id_word, id_lang ) 
);


CREATE TABLE dbo.strings_name (
    id_strings BIGINT FOREIGN KEY REFERENCES dbo.strings ( id ), 
    id_lang BIGINT ,     
    lang_name nvarchar(255),
    PRIMARY KEY( id_strings, id_lang ) 
);



 
go

In [94]:


/*
// CommentService.addComment( Long code_id, String comm );
// MeasureService.addMeasure( String sys_name );
// UnitService.addUnit( String sysName, !! FK Long idMeasure !! , String suffix, Double multi );
// DictionaryService.addDictionary( String sys_name );

*/


-- measure
DECLARE @measure_dlugosc BIGINT; INSERT INTO [dbo].measure VALUES ( 'dlugosc' ); SET @measure_dlugosc = SCOPE_IDENTITY();

-- unit
DECLARE @km BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'kilometr',     @measure_dlugosc , 'km' , 1000 ); SET @km = SCOPE_IDENTITY();
DECLARE @m BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'metr',     @measure_dlugosc , 'm' , 1 ); SET @m = SCOPE_IDENTITY();
DECLARE @dm BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'decymetr',     @measure_dlugosc , 'dm' , 0.1 ); SET @dm = SCOPE_IDENTITY();
DECLARE @cm BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'centymetr',     @measure_dlugosc , 'cm' , 0.01 ); SET @cm = SCOPE_IDENTITY();
DECLARE @mm BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'milimetr', @measure_dlugosc , 'mm' , 0.001 ); SET @mm = SCOPE_IDENTITY();



-- dictionary
DECLARE @DICT_przeznaczenie_ciecie_plytki BIGINT; INSERT INTO [dbo].dictionary VALUES ( 'przeznaczenie : ciecie płytki' ); SET @DICT_przeznaczenie_ciecie_plytki = SCOPE_IDENTITY();

-- words
DECLARE @Glazura BIGINT;  INSERT INTO [dbo].word ( id_dictionary ) VALUES ( @DICT_przeznaczenie_ciecie_plytki  ); SET @Glazura = SCOPE_IDENTITY();
DECLARE @Gres BIGINT;     INSERT INTO [dbo].word ( id_dictionary ) VALUES ( @DICT_przeznaczenie_ciecie_plytki  ); SET @Gres = SCOPE_IDENTITY();
DECLARE @Glazura_i_gres BIGINT;  INSERT INTO [dbo].word ( id_dictionary ) VALUES ( @DICT_przeznaczenie_ciecie_plytki  ); SET @Glazura_i_gres = SCOPE_IDENTITY();

    INSERT INTO [dbo].word_name (id_word, id_lang, lang_name ) VALUES ( @Glazura, 1, 'glazura' );  
    INSERT INTO [dbo].word_name (id_word, id_lang, lang_name ) VALUES ( @Gres, 1, 'gres' );  
    INSERT INTO [dbo].word_name (id_word, id_lang, lang_name ) VALUES ( @Glazura_i_gres, 1, 'glazura i gres' );  


-- strings
DECLARE @akumulator BIGINT;  INSERT INTO [dbo].strings (sys_name) VALUES (NULL) ; SET @akumulator = SCOPE_IDENTITY();
    INSERT INTO [dbo].strings_name (id_strings, id_lang, lang_name ) VALUES ( @akumulator, 1, 'DED7034, DED7035, DED6936, DED6937' ); 



-- code
DECLARE @Code_DED6900 BIGINT; INSERT INTO [dbo].code VALUES ( 'DED6900' ); SET @Code_DED6900 = SCOPE_IDENTITY();




-- ICON
DECLARE @ICON_srednica_tarczy BIGINT; INSERT INTO [dbo].icon ( sys_name,id_measure,id_dictionary )  VALUES ( 'srednica tarczy', @measure_dlugosc,NULL ); SET @ICON_srednica_tarczy = SCOPE_IDENTITY();
                                INSERT INTO [dbo].icon_name (id_icon , id_lang , layout_name) VALUES ( @ICON_srednica_tarczy , 1, 'średnica tarczy');
 
DECLARE @ICON_srednica_otworu BIGINT; INSERT INTO [dbo].icon ( sys_name,id_measure,id_dictionary )  VALUES ( 'srednica otworu', @measure_dlugosc,NULL ); SET @ICON_srednica_otworu = SCOPE_IDENTITY();
                                INSERT INTO [dbo].icon_name (id_icon , id_lang , layout_name) VALUES ( @ICON_srednica_otworu , 1, 'średnica otworu');

DECLARE @ICON_do_ciecta_materialu BIGINT; INSERT INTO [dbo].icon ( sys_name,id_measure,id_dictionary ) VALUES ( 'do ciecia materialu [dict]', NULL, @DICT_przeznaczenie_ciecie_plytki  ); SET @ICON_do_ciecta_materialu = SCOPE_IDENTITY();
                                INSERT INTO [dbo].icon_name (id_icon , id_lang , layout_name) VALUES ( @ICON_do_ciecta_materialu , 1, 'materiał');

DECLARE @ICON_rekomendowany_akumulator BIGINT; INSERT INTO [dbo].icon  ( sys_name,id_measure,id_dictionary ) VALUES ( 'rekomendowany_akumulator',NULL,NULL); SET @ICON_rekomendowany_akumulator = SCOPE_IDENTITY();
                                INSERT INTO [dbo].icon_name (id_icon , id_lang , layout_name) VALUES ( @ICON_rekomendowany_akumulator , 1, 'rekomendowany akumulator');
 

 -- param
INSERT INTO [dbo].params  ( id_code,id_icon,id_unit,num_value,id_word,id_strings ) VALUES ( @Code_DED6900 , @ICON_srednica_tarczy , @mm , 110.0 , NULL, NULL );  
INSERT INTO [dbo].params  ( id_code,id_icon,id_unit,num_value,id_word,id_strings ) VALUES ( @Code_DED6900 , @ICON_srednica_otworu , @mm , 22.2 , NULL, NULL );  

INSERT INTO [dbo].params  ( id_code,id_icon,id_unit,num_value,id_word,id_strings ) VALUES ( @Code_DED6900 , @ICON_do_ciecta_materialu , NULL , NULL , @Glazura_i_gres, NULL );  

INSERT INTO [dbo].params  ( id_code,id_icon,id_unit,num_value,id_word,id_strings ) VALUES ( @Code_DED6900 , @ICON_rekomendowany_akumulator , NULL , NULL , NULL, @akumulator );

In [ ]:
/*

-- MEASURE
DECLARE @measure_none BIGINT;     INSERT INTO [dbo].measure VALUES ( '[NONE]' ); SET @measure_none = SCOPE_IDENTITY();
DECLARE @measure_textonly BIGINT; INSERT INTO [dbo].measure VALUES ( '[TEXT]' ); SET @measure_textonly = SCOPE_IDENTITY();
DECLARE @measure_dictionary BIGINT; INSERT INTO [dbo].measure VALUES ( '[DICTIONARY]' ); SET @measure_dictionary = SCOPE_IDENTITY();

DECLARE @measure_bool BIGINT; INSERT INTO [dbo].measure VALUES ( 'Boolean logika' ); SET @measure_bool = SCOPE_IDENTITY();

DECLARE @measure_dlugosc BIGINT; INSERT INTO [dbo].measure VALUES ( 'długość' ); SET @measure_dlugosc = SCOPE_IDENTITY();
DECLARE @measure_masa BIGINT; INSERT INTO [dbo].measure VALUES ( 'masa' ); SET @measure_masa = SCOPE_IDENTITY();
DECLARE @measure_czas BIGINT; INSERT INTO [dbo].measure VALUES ( 'czas' ); SET @measure_czas = SCOPE_IDENTITY();
DECLARE @measure_temperatura BIGINT; INSERT INTO [dbo].measure VALUES ( 'temperatura' ); SET @measure_temperatura = SCOPE_IDENTITY();





-- UNIT
DECLARE @UNIT_TEXT BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( '[TEXT]',  @measure_textonly , '' , 1 );  SET @UNIT_TEXT = SCOPE_IDENTITY();

DECLARE @UNIT_DICTIONARY BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( '[DICTIONARY]',  @measure_dictionary , '' , 1 );  SET @UNIT_DICTIONARY = SCOPE_IDENTITY();
 




DECLARE @km BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'kilometr',     @measure_dlugosc , 'km' , 1000 ); SET @km = SCOPE_IDENTITY();
DECLARE @m BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'metr',     @measure_dlugosc , 'm' , 1 ); SET @m = SCOPE_IDENTITY();
DECLARE @dm BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'decymetr',     @measure_dlugosc , 'dm' , 0.1 ); SET @dm = SCOPE_IDENTITY();
DECLARE @cm BIGINT;  INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'centymetr',     @measure_dlugosc , 'cm' , 0.01 ); SET @cm = SCOPE_IDENTITY();
DECLARE @mm BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'milimetr', @measure_dlugosc , 'mm' , 0.001 ); SET @mm = SCOPE_IDENTITY();

DECLARE @g BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'gram', @measure_masa , 'g' , 1 ); SET @g = SCOPE_IDENTITY();
DECLARE @kg BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'kilogram', @measure_masa , 'kg' , 1000 ); SET @kg = SCOPE_IDENTITY();

DECLARE @s BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'sekunda', @measure_czas , 's' , 1 ); SET @s = SCOPE_IDENTITY();
DECLARE @min BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'minuta', @measure_czas , 'min' , 60 ); SET @min = SCOPE_IDENTITY();
DECLARE @h BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'godzina', @measure_czas , 'h' , 3600 ); SET @h = SCOPE_IDENTITY();

DECLARE @K BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'Kelwin', @measure_temperatura , '°K' , 1 ); SET @K = SCOPE_IDENTITY();
DECLARE @C BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'Celcjusz', @measure_temperatura , '°C' , 1 ); SET @C = SCOPE_IDENTITY();


DECLARE @tak_nie BIGINT; INSERT INTO [dbo].unit (sys_name, id_measure, suffix , multi ) VALUES ( 'tak/nie', @measure_bool , '' , 1 ); SET @tak_nie = SCOPE_IDENTITY();

 
-- ICON
DECLARE @ICON_srednica_tarczy BIGINT; INSERT INTO [dbo].icon (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom)  VALUES ( 'srednica tarczy', @measure_dlugosc ,10,1,0); SET @ICON_srednica_tarczy = SCOPE_IDENTITY();
DECLARE @ICON_srednica_otworu BIGINT; INSERT INTO [dbo].icon (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom)  VALUES ( 'srednica otworu', @measure_dlugosc ,10,1,0); SET @ICON_srednica_otworu = SCOPE_IDENTITY();

DECLARE @ICON_chlodzenie_woda BIGINT; INSERT INTO [dbo].icon (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom)  VALUES ( 'chlodzenie woda', @measure_dictionary    ,10,1,0 ); SET @ICON_chlodzenie_woda = SCOPE_IDENTITY();

DECLARE @ICON_rekomendowany_akumulator BIGINT; INSERT INTO [dbo].icon  (sys_name,id_measure,layout_target,in_fish_top,in_fish_bottom) VALUES ( 'rekomendowany_akumulator', @measure_textonly ,10,1,0); SET @ICON_rekomendowany_akumulator = SCOPE_IDENTITY();


INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_tarczy,1,'średnica tarczy');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_otworu,1,'średnica otworu');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_chlodzenie_woda,1,'chłodzenie wodą:tak (czy chłodzenie: wodą) ?');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_rekomendowany_akumulator,1,'rekomendowany akumulator');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_tarczy,2,'EN średnica tarczy');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_srednica_otworu,2,'EN średnica otworu');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_chlodzenie_woda,2,'EN chłodzenie wodą:tak (czy chłodzenie: wodą) ?');
INSERT INTO [dbo].icon_name (id_icon, id_lang, layout_name) VALUES (@ICON_rekomendowany_akumulator,2,'EN rekomendowany akumulator');
 


-- code
DECLARE @Code_DED6900 BIGINT; INSERT INTO [dbo].code VALUES ( 'DED6900' ); SET @Code_DED6900 = SCOPE_IDENTITY();


-- dictionary
DECLARE @Dictionary_YES BIGINT; INSERT INTO [dbo].dictionary VALUES ( 'TAK' ); SET @Dictionary_YES = SCOPE_IDENTITY();
DECLARE @Dictionary_NO BIGINT; INSERT INTO [dbo].dictionary VALUES ( 'NO' ); SET @Dictionary_NO = SCOPE_IDENTITY();

DECLARE @Dictionarry_lang_PL_YES BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_YES ,1, 'tak' ); SET @Dictionarry_lang_PL_YES = SCOPE_IDENTITY();
DECLARE @Dictionarry_lang_EN_YES BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_YES ,2, 'yes' ); SET @Dictionarry_lang_EN_YES = SCOPE_IDENTITY();

DECLARE @Dictionarry_lang_PL_NO BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_NO ,1, 'tak' ); SET @Dictionarry_lang_PL_NO = SCOPE_IDENTITY();
DECLARE @Dictionarry_lang_EN_NO BIGINT; INSERT INTO [dbo].dictionary_name ( id_dictionary , id_lang,  lang_name )  VALUES ( @Dictionary_NO ,2, 'yes' ); SET @Dictionarry_lang_EN_NO = SCOPE_IDENTITY();

-- params
INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value ) VALUES (  @Code_DED6900 , @ICON_chlodzenie_woda , @measure_dictionary , @Dictionary_YES );

INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value) VALUES (  @Code_DED6900 , @ICON_srednica_tarczy , @mm , 110 );
INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value) VALUES (  @Code_DED6900 , @ICON_srednica_otworu , @mm , 22.2 );

DECLARE @Param_Rekomendowany_aku BIGINT
INSERT INTO [dbo].params (id_code,id_icon,id_unit,num_value) VALUES (  @Code_DED6900 , @ICON_rekomendowany_akumulator , @UNIT_TEXT , NULL );  SET @Param_Rekomendowany_aku = SCOPE_IDENTITY();

INSERT INTO [dbo].params_name VALUES ( @Param_Rekomendowany_aku , 1 , 'DED7034, DED7035, DED6936, DED6937')
go
*/




/*
SELECT C.code_String , P.num_value AS num_val , PN.name AS PN_name, I.sys_name, I.layout_target, I.id_measure , ' Unit -> ', U.sys_name AS U_name , U.suffix , U.separator AS separator , INa.* , D.sys_name , DN.lang_name
         FROM code AS C 
    FULL JOIN params AS P ON ( C.code_id = P.id_code )
    FULL JOIN params_name AS PN ON ( P.id = PN.id_params AND PN.id_lang = 1 )
    FULL JOIN icon AS I ON ( P.id_icon = I.id )
    FULL JOIN icon_name AS INa ON ( I.id = INa.id_icon AND INa.id_lang = 1 )
    FULL JOIN unit AS U ON ( P.id_unit = U.id )
    FULL JOIN dictionary AS D ON ( D.id = P.num_value)
    FULL JOIN dictionary_name AS DN ON ( DN.id_dictionary = P.num_value AND DN.id_lang = 1 )
    


WHERE code_String='DED6900';
*/






/*
SELECT C.code_String , P.num_value AS num_val , PN.name AS PN_name, I.sys_name, I.layout_target, I.id_measure , ' Unit -> ', U.sys_name AS U_name , U.suffix , U.separator AS separator , INa.* , D.sys_name , DN.lang_name
         FROM code AS C 
    FULL JOIN params AS P ON ( C.code_id = P.id_code )
    FULL JOIN params_name AS PN ON ( P.id = PN.id_params AND PN.id_lang = 1 )
    FULL JOIN icon AS I ON ( P.id_icon = I.id )
    FULL JOIN icon_name AS INa ON ( I.id = INa.id_icon AND INa.id_lang = 1 )
    FULL JOIN unit AS U ON ( P.id_unit = U.id )
    FULL JOIN dictionary AS D ON ( D.id = P.num_value)
    FULL JOIN dictionary_name AS DN ON ( DN.id_dictionary = P.num_value AND DN.id_lang = 1 )
    


WHERE code_String='DED6900';
*/

In [106]:

DECLARE @codeID AS BIGINT
SET  @codeID =  ( SELECT code_id FROM code WHERE code_String='DED6900'   ) ;

SELECT  INa.layout_name,
        S.lang_name,
        W.lang_name,
        P.num_value,
        U.suffix   

    FROM params AS P

    FULL JOIN [dbo].icon_name      AS INa ON ( INa.id_icon = P.id_icon AND INa.id_lang = 1 )
    FULL JOIN [dbo].unit      AS U ON ( U.id = P.id_unit )
    FULL JOIN [dbo].word_name AS W ON ( W.id_word = P.id_word AND W.id_lang=1)    
    FULL JOIN [dbo].strings_name AS S ON ( S.id_strings = P.id_strings AND S.id_lang=1)    
 
    WHERE P.id_code=@codeID

go

layout_name,lang_name,lang_name,num_value,suffix
srednica tarczy,NULL,NULL,110.0000000000000000,mm
srednica otworu,NULL,NULL,22.2000000000000000,mm
material,NULL,glazura i gres,NULL,NULL
rekomendowany akumulator,"DED7034, DED7035, DED6936, DED6937",NULL,NULL,NULL