In [261]:


-- create database
IF EXISTS ( SELECT * FROM SYS.databases WHERE [name]= 'przychodnia' ) 
    BEGIN
     DROP DATABASE przychodnia;
     PRINT  ' DROP DATABASE ';
    END

BEGIN
CREATE DATABASE przychodnia
 ON PRIMARY (
        name=okno,
        filename='/var/opt/mssql/data/okno.mdf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    )
    LOG ON (
        name=okno_log,
        filename='/var/opt/mssql/data/okno.ldf',
        size=20MB,
        maxsize=50MB,
        filegrowth=10MB
    );
 PRINT  ' CREATE DATABASE ';   
 END

In [262]:

USE przychodnia

-- slowniki
DROP TABLE IF EXISTS [dbo].wlasciciel

--dane
DROP TABLE IF EXISTS [dbo].zwierzak





CREATE TABLE dbo.wlasciciel (
    ID       bigint       NOT NULL IDENTITY ,
    imie     varchar(255) NOT NULL,
    nazwisko varchar(255) NOT NULL,
    adres    varchar(255) NOT NULL,
    telefon  varchar(255) NOT NULL,
    data_ur  DATE, -- insert -> '1/2/2003' 
    PRIMARY KEY(ID) 
);
go

 

CREATE TABLE dbo.zwierzak (
    ID bigint NOT NULL   IDENTITY,
    wlasciciel_ID BIGINT FOREIGN KEY REFERENCES wlasciciel ( ID ),  
    imie     varchar(255) NOT NULL
    PRIMARY KEY(ID)
);
go

 



DECLARE @JOHN BIGINT;
INSERT INTO [dbo].wlasciciel VALUES ( 'John' , 'Nash', 'ogrodowa 6', '1234567890' , '1/2/2003' ); SET @JOHN = SCOPE_IDENTITY();
PRINT @JOHN;
 

DECLARE @Garfield BIGINT;
INSERT INTO [dbo].zwierzak VALUES ( @JOHN, 'Garfield' ); SET @Garfield = SCOPE_IDENTITY();

DECLARE @Odi BIGINT;
INSERT INTO [dbo].zwierzak VALUES ( @JOHN,  'Odi' ); SET @Odi = SCOPE_IDENTITY();
 

SELECT * FROM zwierzak AS Z
    FULL JOIN wlasciciel AS W 
    ON ( Z.wlasciciel_ID = W.ID );

ID,wlasciciel_ID,imie,ID,imie,nazwisko,adres,telefon,data_ur
1,1,Garfield,1,John,Nash,ogrodowa 6,1234567890,2003-01-02
2,1,Odi,1,John,Nash,ogrodowa 6,1234567890,2003-01-02